.HomePage {
	display: flex;
	flex-direction: column;
	padding: 20px;
	gap: 2px;
}

input {
	height: 30px;
	outline: none;
	border: 1px solid gray;
	padding-left: 10px;
	font-size: 13px;
	border-radius: 4px;
	margin-bottom: 20px;
	margin-top: 10px;
}

.HomePage > span {
	font-size: 20px;
	font-weight: 600;
}

.ALLData {
	display: flex;
	flex-direction: column;
	gap: 2px;
}

.Header {
	display: flex;
	flex-direction: row;
	background-color: #c92c6d;
	align-items: center;
	padding: 15px;
	color: white;
	padding-left: 25px;
}

.DataHeader {
	background-color: #efefef;
	color: black;
}

.Header > div:nth-of-type(1) {
	width: 10%;
}

.Header > div:nth-of-type(2) {
	width: 20%;
}

.Header > div:nth-of-type(3) {
	width: 20%;
}

.Header > div:nth-of-type(4) {
	width: 30%;
}

.Header > div:nth-of-type(5) {
	width: 20%;
}

.openmodal {
	background-color: "#5B8FB9" !important;
	cursor: pointer;
}

.ModalData {
	width: 500px;
	height: 500px;
	padding: 20px;
}

.ModalHeader {
	display: flex;
	justify-content: space-between;
}

.ModalHeader > span {
	font-size: 15px;
	font-weight: 600;
	color: green;
}

.ModalData > .child {
	display: flex;
	flex-direction: row;
	margin-top: 20px;
}

.ModalData > .child > div:nth-of-type(1) {
	width: 30%;
}

.ModalData > .child > div:nth-of-type(1) > span {
	font-size: 15px;
	font-weight: 600;
}

.ModalData > .child > div:nth-of-type(2) {
	width: 10%;
}

.ModalData > .child > div:nth-of-type(2) > span {
	font-size: 15px;
	font-weight: 600;
	color: gray;
}

.ModalData > .child > div:nth-of-type(3) {
	width: 60%;
}

.ModalData > .child > div:nth-of-type(3) > span {
	font-size: 15px;
	font-weight: 600;
	color: gray;
}

@media screen and (max-width: 480px) {
	.ALLData {
		overflow-x: scroll;
		overflow-y: scroll;
		width: 100%;
		height: 100vh;
	}
	.ModalData {
		width: 90%;
	}
	.ModalData > .child > div:nth-of-type(1) {
		width: 20%;
	}
	.ModalData > .child > div:nth-of-type(3) {
		width: 70%;
	}
	.Header {
		overflow-x: scroll;
	}
	.Header > div:nth-of-type(1) {
		width: 20%;
	}
	.Header > div:nth-of-type(2) {
		width: 50%;
	}
	.Header > div:nth-of-type(3) {
		display: none;
	}
	.Header > div:nth-of-type(4) {
		display: none;
	}
	.Header > div:nth-of-type(5) {
		width: 30%;
	}
}
